.App {
  text-align: center;
  padding: 25px;
}

#key-div {
  height: 400px;
  text-align: center;
}

.images {
  height: 225px;
  pointer-events: none;
  transform: rotate(315deg);

  z-index: 5;
  margin-left: 50px;
  right: 30px;
  position: relative;
}

.key-type {
  font-weight: 500;
  color: grey;
  text-align: center;
  margin-right: 45px;
}

.key-price {
  font-weight: 500;
  color: #A3A3A3;
  font-size: 14px;
  text-align: center;
  margin-right: 45px;
  top: -14px;
  position: relative;
}

.circle {
  border-radius: 50%;
  height: 140px;
  width: 140px;
  background-color: #f7f7f7;
  position: absolute;
  top: 40px;
  z-index: -1;
  right: 90px;
}

.quantity-div {
  text-align: center;
  width: 100%;
  position: absolute;
  right: 20px;
  top: 278px;
}

#quantity-button {
  height: 33px;
  width: 33px;
  border-radius: 50%;
  border: 2px solid #ff6241;
  display: inline-block;
  position: relative;
}

#quantity-num {
  display: inline-block;
  position: relative;
  padding: 10px;
}

#checkout-div {
  background-color: #B4E9F2!important;
  height: 150px;
  position: relative;
  top: 80px;
}

#checkout-button-disabled {
  background-color: #ADE0E8!important;
  color: #CCEBF1;
  position: relative;
  left: 481px;
  top: 47px;
  width: 45%;
  padding: 15px;
  font-size: xx-large;
  font-weight: 900;
  border-radius: 10px;
  border: none;
}

#checkout-button-enabled {
  background-color: #ff6241!important;
  position: relative;
  left: 481px;
  top: 47px;
  width: 45%;
  padding: 15px;
  font-size: xx-large;
  font-weight: 900;
  border-radius: 10px;
  border: none;
}

.container {
  margin: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
